.label_cloud{
	margin: 0;
    padding: 0;
    list-style: none;
}

.label_cloud_item{
	display: inline-block;
    margin: 0 .3em .3em 0;
    padding: 0;
}

.label_cloud_link {
    display: inline-block;
    font-size: 12px;
    line-height: 28px;
    color: rgba(0,0,0,0.54);
    background-color: #f7f7f7;
    border: 1px solid #f7f7f7;
    min-width: 4em;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 0.25em;
}
